@font-face {
    font-family: 'Gothic';
    src: url('../fonts/GOTHIC.woff') format('woff');
    font-display: block;
}
@font-face {
    font-family: 'GothicB';
    src: url('../fonts/GOTHICB.woff') format('woff');
    font-display: block;
}
@font-face {
    font-family: 'GothicI';
    src: url('../fonts/GOTHICI.woff') format('woff');
    font-display: block;
}
@font-face {
    font-family: 'GothicBI';
    src: url('../fonts/GOTHICBI.woff') format('woff');
    font-display: block;
}
// GLOBAL
html {
    font-family: Gothic;
}
body {
    margin: 0;
}
.main-loader {
    background-image: url('../img/loader.svg');
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    height: 100vh;
    animation: show-site 0.4s ease-in-out;
}
@keyframes show-site {
    from {opacity: 0}
    to {opacity: 1}
}
.bg-parallax {
    background-image: url('../img/logos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    overflow: hidden;
}
// TOP NAV
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    .logo {
        background-image: url('../img/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 42px;
        height: 32px;
        margin: 0 10px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            filter: brightness(1.2);
        }
    }
    .icons {
        display: flex;
        margin-left: auto;
        div {
            background-size: contain;
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            margin: 0 4px;
            cursor: pointer;
            &:hover {
                filter: brightness(1.2);
            }
        }
    }
    .lang {
        position: relative;
        top: 1px;
        // background-color: rgba(0,0,0,0.6);
        padding: 5px 8px;
        margin: 0 8px 0 2px;
        .selected {
            display: flex;
            margin-bottom: 2px;
            cursor: pointer;
            &:hover {
                filter: brightness(1.2);
            }
            .icon {
                width: 18px;
                height: 18px;
            }
            .arrow {
                background-color: lightgray;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                width: 7px;
                height: 7px;
                margin: 5px 0 0 3px;
            }
        }
        .choose {
            display: none;
            width: 18px;
            height: 18px;
            cursor: pointer;
            opacity: 0;
            &:hover {
                filter: brightness(1.2);
            }
        }
        .pl {
            background-image: url('../img/pl.svg');
        }
        .uk {
            background-image: url('../img/uk.svg');
        }
        &.active {
            top: 10px;
            .choose {
                display: block;
                opacity: 1;
            }
        }
    }
    .mobile-menu {
        margin-right: 20px;
        width: 32px;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
            filter: brightness(1.2);
        }
        div {
            height: 2px;
            background-color: lightgray;
            margin: 6px 0;
            &:first-of-type {
                width:100%;
            }
            &:nth-of-type(2) {
                width: 85%;
            }
            &:last-of-type {
                width: 70%;
            }
        }
    }
}
.bg-overlay-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    // display: none;
    .overlay-menu {
        width: 100%;
        max-width: 320px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.86);
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
            height: 30%;
            width: 100px;
            background-position: center;
            margin-left: -6px;
            margin-top: 36px;
            opacity: 0;
        }
        .close {
            position: absolute;
            top: 16px;
            right: 20px;
            cursor: pointer;
            filter: brightness(0.6);
            opacity: 0;
            transition: filter 0.4s ease-in-out;
            svg {
                position: absolute;
                fill: transparent;
                stroke: white;
                width: 40px;
                stroke-width: 9px;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                transition: stroke-dasharray 0.4s ease-in-out;
            }
            div {
                background-image: url('../img//close.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
            }
            &:hover {
                filter: brightness(1);
                svg {
                    stroke-dasharray: 1471;
                }
            }
            &:active svg {
                stroke: #ea474d;
                fill: #ea474c3a;
                transition: stroke, fill, 0.2s ease-in-out;
            }
        }
        ul {
            height: 70%;
            margin: 0;
            padding: 0;
            text-align: center;
            line-height: 2em;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.2em;
            li {
                display: block;
                position: relative;
                cursor: pointer;
                a {
                    color: gray;
                    text-decoration: none;
                    transition: all 0.4s ease-out;
                }
                div {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 1.4px;
                    background-color: gray;
                    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
                }
                &:hover {
                    a {
                        color: rgb(248, 248, 248);
                    }
                    div {
                        width: 0%;
                    }
                }
                &.active {
                    a {
                        color: #ea474d;
                    }
                    div {
                        width: 0%;
                    }
                }
            }
        }
    }
}

// HOME
.home-site {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        .logo {
            background-image: url('../img/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 150px;
            height: 112px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -80%);
            filter: drop-shadow(-10px 10px 2px rgba(20,20,20,0.6));
        }
        .greetings {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-43%, 30%);
            text-align: center;
            h1 {
                color: lightgray;
                font-weight: 100;
                margin: 10px 0 3px;
                font-size: 2.3em;
                text-shadow: -4px 4px 2px black;
            }
            p {
                white-space: nowrap;
                color: #ED4850;
                margin: 0;
                span {
                    display: inline-block;
                    min-width: 7px;
                    text-shadow: -2px 2px 2px black;
                }
            }
        }
    }
    .scroll-down {
        position: absolute;
        bottom: 20px;
        max-width: 60%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            filter: brightness(1.2);
        }
        p {
            white-space: nowrap;
            animation: blink infinite 8s;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            color: lightgray;
            margin: 2px 0;
            font-size: 0.6em;
            padding: 0 16px;
            letter-spacing: 4px;
            font-weight: 600;
        }
        div {
            width: 100%;
            height: 1px;
            background-color: lightgray;
        }
    }
    @keyframes blink {
        from { opacity: 1 }
        20% { opacity: 1 }
        21% { opacity: 0 }
        22% { opacity: 1 }
        24% { opacity: 0 }
        26% { opacity: 1 }
        to { opacity: 1 }
    }
}
// SKILLS
.skills-site {
    background-color: #3e3e3e;
    width: 100%;
    // height: 530px;
    padding-bottom: 30px;
    .shadow {
        width: 100%;
        box-shadow: 0px 1px 8px 12px #1a1b1f;
    }
    .header {
        position: relative;
        padding: 40px 20px 26px;
        h2 {
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
            font-family: GothicB;
            color: white;
            font-size: 3em;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.4s ease-in-out;
            &.active {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    .skills-menu {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        // margin: 0 16px;
        justify-content: space-between;
        .select {
            width: fit-content;
            height: 28px;
            margin: 0 20px 12px;
            opacity: 0;
            cursor: pointer;
            div:first-of-type {
                background-color: transparent;
                border: 0;
                outline: none;
                font-size: 1.2em;
                color: rgb(211 211 211);
                font-family: 'Gothic';
            }
            div:last-of-type {
                width: 30%;
                height: 2px;
                background-color: rgb(211 211 211);
                margin-left: 10%;
            }
            &.active {
                div:first-of-type {
                    color: #ea474d;
                }
                div:last-of-type {
                    width: 80%;
                    background-color: #ea474d;
                }
            }
        }
    }
    .skills-icons {
        position: relative;
        display: flex;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .skill {
            min-width: 30px;
            min-height: 30px;
            border: 1px solid gray;
            box-shadow: 0 0 12px 0 #ffffff70;
            background-color: #383838;
            border-radius: 30px;
            padding: 12px 12px 10px;
            margin: 10px 16px;
            opacity: 0;
            transform: scale(1);
            cursor: pointer;
            transition: border, box-shadow, transform 0.3s;
            &:hover {
                border: 1px solid #ea474d;
                box-shadow: 0 0 12px 0 #ea474d;
                transform: scale(1.1);
            }
            &.active {
                border: 1px solid #ea474d;
                box-shadow: 0 0 12px 0 #ea474d;
            }
            .icon {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                width: 100%;
                height: 100%;
            }
        }
    }
    .skill-info {
        position: relative;
        margin-top: 26px;
        min-height: 220px;
        opacity: 0;
        transform: translateY(20px) scale(0);
        transition: opacity, transform 0.4s ease-out;
        & > img {
            width: 60px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 50px 0;
        }
        &.active {
            opacity: 1;
            transform: translateY(0px) scale(1);
        }
        .icon {
            height: 46px;
            width: fit-content;
            margin: 0 auto;
            border: 1px solid #ea474d;
            border-radius: 40px;
            padding: 12px 12px 10px;
            box-shadow: 0 0 12px 0 #ea474d;
            background-color: #383838;
            img {
                height: 100%;
            }
        }
        p {
            margin: 16px 10px;
            font-size: 0.9em;
            line-height: 1.45em;
            color: white;
            span:first-of-type {
                font-weight: 600;
            }
        }
    }
}
// PROJECTS
.projects-site {
    width: 100%;
    padding-bottom: 30px;
    background-color: #1a1a1a;
    // position: relative;
    .shadow {
        width: 100%;
        box-shadow: 0px 1px 8px 12px #1a1a1a;
    }
    .header {
        position: relative;
        padding: 40px 16px 6px;
        h2 {
            margin: 0;
            font-family: GothicB;
            color: white;
            font-size: 3em;
            text-align: center;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.4s ease-in-out;
            &.active {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    .project {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 90%;
        margin: 20px auto;
        height: 173px;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity, transform, 0.4s ease-out;
        &.active {
            opacity: 1;
            transform: translateY(0px);
        }
        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
            opacity: 0.7;
            background-color: rgb(0, 0, 0);
            transition: all 0.4s ease-in-out;
        }
        .info {
            width: 100%;
            h3 {
                width: 100%;
                text-align: center;
                font-family: 'GothicB';
                font-size: 1.6em;
                color: white;
            }
            div {
                display: flex;
                justify-content: space-around;
                a {
                    border: 1px solid white;
                    border-radius: 6px;
                    width: 70px;
                    color: white;
                    text-decoration: none;
                    font-size: 0.6em;
                    padding: 6px 4px;
                    text-align: center;
                    font-family: "GothicB";
                    transition: all 0.4s ease-in-out;
                }
            }            
        }
        &:hover {
            .image {
                transform: scale(1.4) rotate(16deg);
            }
            .info a {
                background-color: #3e3e3e;
                &:hover {
                    background-color: black;
                }
                &:active {
                    background-color: white;
                    color: black;
                    transition: none;
                }
            }
        }
    }
}
// ABOUT ME
.aboutme-site {
    background-color: #28292C;
    position: relative;
    .shadow {
        width: 100%;
        box-shadow: 0px 1px 8px 12px #1a1a1a;
    }
    .header {
        position: relative;
        padding: 40px 16px 16px;
        h2 {
            margin: 0;
            font-family: GothicB;
            color: white;
            font-size: 3em;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.4s ease-in-out;
            &.active {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    .info-learning {
        padding-bottom: 16px;
        div {
            &:first-of-type {
                color: white;
                position: absolute;
                line-height: 1.4em;
                font-size: 0.9em;
                padding: 0 10px;
                background-color: rgb(40 42 44 / 0.5);
                height: 300px;
                display: flex;
                flex-direction: column;
                box-shadow: inset 0 0 10px 6px #28292C;
                overflow: hidden;
                p {
                    opacity: 0;
                    transition: all 0.4s ease-in-out;
                    &:first-of-type,
                    &:last-of-type {
                        transform: translateX(-100%);
                    }
                    &:nth-of-type(2) {
                        margin: 1.4em 0 3em;
                        transform: translateX(100%);
                    }
                    &.active {
                        transform: translateX(0%);
                        opacity: 1;
                    }
                }
            }
            &:last-of-type {
                background-image: url(../img/laptop.jpg);
                background-size: cover;
                width: 100%;
                height: 300px;
                background-repeat: no-repeat;
                // position: absolute;
            }
        }
    }
}
// EXPERIENCE
.experience {
    background-image: linear-gradient(to left, #1A1A1A, #535353);
    padding-bottom: 16px;
    .shadow {
        // position: relative;
        // width: 100%;
        // height: 0px;
        // box-shadow: none;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
        box-shadow: 0 0 16px 16px #28292c;
        position: relative;
        // transform: rotate(-2deg);
        // &:before {
        //     content: "";
        //     width: 100%;
        //     height: 26px;
        //     position: absolute;
        //     filter: blur(6px);
        //     background-image: repeating-linear-gradient(to right, #2f2f2f, #1a1a1a);
        //     margin-top: -10px;
        // }
    }
    .header {
        position: relative;
        padding: 40px 16px 16px;
        h2 {
            text-overflow: ellipsis;
            overflow-x: hidden;
            margin: 0;
            font-family: GothicB;
            color: white;
            font-size: 3em;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.4s ease-in-out;
            &.active {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    .list-one-title,
    .list-two-title {
        position: relative;
        h3 {
            margin: 0 16px;
            position: relative;
            color: White;
            font-size: 1em;
            line-height: 2em;
            // z-index: 1;
            text-decoration: 1px #ea474d underline;
            text-underline-offset: 6px;
            opacity: 0;
            transform: scale(0);
            transition: all 0.4s ease-out;
            &.active {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    ul {
        position: relative;
        counter-reset: num;
        color: white;
        margin: 16px 0;
        padding: 0;
        font-size: 0.9em;
        line-height: 1.4em;
        li {
            counter-increment: num;
            display: block;
            position: relative;
            padding: 10px 16px 10px 52px;
            transform: translateY(-100%);
            opacity: 0;
            transition: opacity, transform, 0.4s ease-out;
            &:before {
                content: counter(num)'.';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-100%, 100%);
                padding: 10px 16px;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                background-image: linear-gradient(-10deg,#111,#3d3d3d);
                box-shadow: -2px 0 6px 0 rgba(65,65,65,.9), -2px -2px 6px 0 rgba(65,65,65,.9);
                transition: opacity, transform, 0.4s ease-in-out;
            }
            &.active {
                opacity: 1;
                transform: translateY(0%);
                &:before {
                    transform: translate(0%, -50%);
                }
                &:hover {
                    text-shadow: 0 0 4px #ea474d;
                    padding: 10px 10px 10px 58px;
                    transition: text-shadow, padding, 0.2s ease-out;
                    &:before {
                        color: #ea474d;
                        padding: 10px 19px;
                        transition: padding, color, 0.2s ease-out;
                    }
                }
            }
        }
    }
}

// Hobby
.hobby {
    background-color: #28292C;
    position: relative;
    .shadow {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
        box-shadow: 0 0 16px 16px #28292c;
        position: relative;
    }
    .info {
        div {
            &:first-of-type {
                color: white;
                position: absolute;
                line-height: 1.4em;
                font-size: 0.9em;
                padding: 0 16px;
                background-color: rgb(42 44 47 / 0.3);
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                // box-shadow: inset 0 0 10px 6px #28292C;
                overflow: hidden;
                p {
                    opacity: 0;
                    padding-bottom: 20px;
                    max-width: 60%;
                    line-height: 1.6em;
                    transition: all 0.4s ease-in-out;
                    transform: scale(0);
                    &.active {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
            &:last-of-type {
                background-image: url(../img/japan.jpg);
                background-size: cover;
                width: 100%;
                height: 300px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

// CONTACT
.contact-site {
    background-image: url(../img/bg.jpg);
    // position: relative;
    min-height: 100%;
    padding-bottom: 20px;
    .shadow {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
        box-shadow: 0 0 16px 16px #1e2126;
        position: relative;
    }
    .header {
        position: relative;
        padding: 40px 16px 16px;
        h2 {
            margin: 0;
            font-family: GothicB;
            color: white;
            font-size: 3em;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.4s ease-in-out;
            &.active {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    .info {
        position: relative;
        p {
            color: lightgray;
            margin: 0 16px;
            font-family: GothicI;
            transform: translateY(100%);
            opacity: 0;
            transition: all 0.4s ease-in-out;
            &.active {
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }
    form {
        margin: 16px;
        position: relative;
        label {
            input,
            textarea {
                width: 90%;
                background-color: #222222;
                margin: 16px auto;
                display: block;
                padding: 10px;
                outline: none;
                border: 2px solid #535353;
                border-radius: 4px;
                color: lightgray;
                transition: border 0.2s ease-out;
                &:focus {
                    border: 2px solid #7a7a7a;
                }
                &.error {
                    border: 2px solid #ea474c;
                }
                &.pass {
                    border: 2px solid #258028;
                }
            }
            &:first-of-type input {
                // transform: translate(-50%, 100%) scale(0);
                // opacity: 0.5;
                transform: scale(1, 0.01);
            }
            &:nth-of-type(2) input {
                // transform: translate(50%, 100%) scale(0);
                // opacity: 0.5;
                transform: scale(1, 0.01);
            }
            textarea {
                // transform: translateY(100%) scale(0);
                transform: scale(1, 0.01);
            }
            &.active input,
            &.active textarea {
                transform: translate(0%, 0%) scale(1);
                opacity: 1;
                transition: translate, opacity, 0.4s ease-out;
            }
        }
        button {
            width: 100%;
            background-color: #d80027;
            outline: none;
            border: 0;
            padding: 10px;
            border-radius: 4px;
            color: lightgray;
            cursor: pointer;
            transform: scale(1, 0.01);
            transition: transform 0.4s ease-in-out;
            &.active {
                transform: scale(1);
            }
        }
    }
    .errors {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #222222;
        color: red;
        padding: 16px;
        box-shadow: 0 0 8px black;
        max-width: 260px;
        z-index: 1;
        p {
            margin: 0;
            font-size: 0.8em;
            line-height: 1.4em;
        }
        .close {
            position: absolute;
            top: 4px;
            right: 4px;
            cursor: pointer;
            background-image: url(../img/close.svg);
            background-size:cover;
            background-repeat: no-repeat;
            width: 8px;
            height: 8px;
            filter: brightness(0.8);
            &:hover {
                filter: brightness(1);
            }
        }
    }
}

// FOOTER

footer {
    background-color: #1a1b1f;
    position: relative;
    margin-top: 0px;
    padding: 10px 0;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        div {
            width: 38px;
            height: 30px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        p {
            margin: 0 16px;
            color: white;
            font-family: GothicB;
            font-size: 1.76em;
        }
    }
    .icons {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        div {
            width: 16px;
            height: 16px;
            border: 1px solid #9D9E9E;
            border-radius: 20px;
            margin: 0 16px;
            padding: 8px;
            filter: brightness(0.9);
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:last-of-type {
                transform: scale(0);
                transition: transform, background-color, 0.4s ease-in-out;
                &.active {
                    transform: scale(1);
                    background-color: rgba(255,255,255,0.9);
                }        
            }
            &:hover {
                filter: brightness(1);
                transform: scale(1.1);
                border-color: #d80027;
                box-shadow: 0 0 6px 0 #d80027;
            }
            span {
                width: 100%;
                height: 100%;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    .copyright {
        color: lightgray;
        font-size: 0.8em;
        text-align: center;
    }
}

.to-top {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 17px;
    height: 17px;
    background-color: rgba(255,255,255,0.85098);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
    cursor: pointer;
    padding: 13px;
    z-index: 1;
    transform: scale(0);
    div {
        width: 100%;
        height: 100%;
        background-image: url(../img/arrow.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
